#index {
    background-image: url(../images/bg_xl_anniespratt.jpg);
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;
}

#menu {
    background-color: #eeefea;
}
.container {
    height: auto;
    
}
.navbar {
    margin-top: 20px;
}

.navbar-brand {
    margin-left: 50px;
    font-size: 40px;
    padding-top: 85px;
}


#palmera {
    height: 250px;
    width: 250px;
    border-radius: 50%;  
}

#palmeramenu {
    height: 200px;
    width: 200px;
    border-radius: 50%; 
    margin-left: 30px;
}

.imgmenu {
    height: 150px;
    width: 150px;
    border-radius: 50%;  

}


a {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    color:#a03522 !important;
}

button {
    background-color: #a03522 !important;
}

.jumbotron {
    margin-top: 40px;
    background-color: #f8f9fa;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

.card {
    margin-top: 20px;
    margin-bottom: 20px;
}

.card-body {
    text-align: center;
}

h5 {
    color:  #a03522;
}

#badgemeat {
    background-color: #a03522;
}


