#index {
    background-image: url(../images/bg_xl_anniespratt.jpg);
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;
}

.container {
    height: auto;
    margin-bottom: 40px;
    
}

.navbar {
    margin-top: 20px;
}

.navbar-brand {
    margin-left: 50px;
    font-size: 40px;
    padding-top: 85px;
}

.popUp {
    color: #a03522;
    margin-top: 20px;
}
#palmera {
    height: 250px;
    width: 250px;
    border-radius: 50%;  
}

#palmeramenu {
    height: 200px;
    width: 200px;
    border-radius: 50%; 
    margin-left: 30px;
}

a {
    margin-right: 40px;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    color:#a03522 !important;
}

#buttonmenu {
    background-color: #a03522 !important;
}

.jumbotron {
    margin-top: 40px;
    background-color: #f8f9fa;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

/* Menu style */

#menu {
    background-color: #eeefea;
}

.card {
    margin-top: 20px;
    margin-bottom: 20px;
}

.card-body {
    text-align: center;
}

h5 {
    color:  #a03522;
}

#badgemeat {
    background-color: #a03522;
}

.list-group-item {
    text-align: center;
    color:black;
    background-color: #eae5e6;
    background-image: url("https://www.transparenttextures.com/patterns/bedge-grunge.png");
    /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}

/* Contact style */

#palmeracontact {
    height: 550px;
    width: 550px;
}

#textcontact {
    margin-top: 30px;
    margin-bottom: 30px;
}

#textcontact2 {
    margin-top: 20%;
    font-family: 'Montserrat', sans-serif;
    text-align: justify;
    padding-right: 170px;
}

label {
    color: #a03522;
    font-family: 'Montserrat', sans-serif;
}

#buttonsend {
    background-color:#f8f9fa;
    border: solid #a03522;
    color: black;
}

.gallery {
    height: 600px;
    width: 800px;
}

#gallery1 {
    margin-top: 30px;
    margin-bottom: 30px;
}

#gallery2 {
    margin-top: 30px;
    margin-bottom: 30px;
}
