body {
    background-image: url(../images/bg_xl_anniespratt.jpg);
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;
}
.container {
    height: auto;
}
.navbar {
    margin-top: 20px;
}

.navbar-brand {
    margin-left: 50px;
    font-size: 30px;
}

#palmera {
    height: 200px;
    width: 200px;
    border-radius: 50%;  
}

a {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    color:#a03522 !important;
}

button {
    background-color: black !important;
}

.jumbotron {
    margin-top: 40px;
    background-color: #f8f9fa;
    text-align: center;
}

.row{
    text-align: center;
}

.col-sm {
    text-align: center;
}